h1 {

   
	/* Light */
    --background-primary: #ffffff;
        --background-primary-alt: #f7f7ff;
        --background-secondary: #f2f2f9;
        --background-secondary-alt: #ececf7;
        --background-modifier-hover: #e0faff;
        --background-modifier-active-hover: #ffe6ff;
        --background-modifier-border: #ccccdd;
        --background-modifier-border-hover: #b399ff;
        --background-modifier-border-focus: #a366ff;
        --background-modifier-form-field: #f0f0ff;
        --interactive-normal: #e77898;
        --interactive-hover: #ea5fa7;
        --interactive-accent: #3dabb5;
        --interactive-accent-hover: #1bc4c4;
        --caret-color: #00c0bb;
        --bold-color: #c265c2;
        --italic-color: #5ca6c6;
        --text-highlight-bg: #e4caf3;
        --text-normal: #1a1a1a;
        --text-muted: #6e5e8c;
        --text-faint: #9999bb;
        --text-on-accent: #ffffff;
        --text-accent: #d624d6;
        --text-accent-hover: #ff33ff;
        --text-selection: #b3e0ff;
        --inline-title-color: #bc468f;
        --h1-color: #3344aa;
        --h2-color: #0099aa;
        --h3-color: #b84cb8;
        --h4-color: #1a9a4f;
        --h5-color: #c24063;
        --h6-color: #a68b29;
        --hr-color: #999966;
        --link-color: #0077cc;
        --link-color-hover: #b0398c;
        --link-unresolved-color: #b72626;
        --link-unresolved-decoration-color: #b72626;
        --link-external-color: #8d2384;
        --link-external-color-hover: #1b7491;
        --list-marker-color: #cc00cc;
        --list-marker-color-hover: #00bbbb;
        --list-marker-color-collapsed: #e6b800;
        --blockquote-background-color: #efe7fe;
        --blockquote-border-color: #fd77a1;
        --blockquote-color: #222222;
        --code-background: #e5e5fd;
        --code-normal: #333388;
        --code-comment: #616161;
        --code-function: #008c8c;
        --code-important: #b38a00;
        --code-keyword: #d62ad6;
        --code-operator: #008f44;
        --code-property: #004d99;
        --code-punctuation: #555577;
        --code-string: #009977;
        --code-tag: #bb2266;
        --code-value: #3344aa;
        --checkbox-color: #22aaaa;
        --checkbox-color-hover: #b84ca0;
        --checklist-done-color: #888899;
        --table-header-background: #f2f2ff;
        --table-header-color: #000000;
        --table-border-color: #6699aa;
        --table-header-border-color: #6699aa;
        --table-header-background-hover: #e8ffe8;
        --table-row-background-hover: #f2fff2;
        --table-row-alt-background-hover: #f2fff2;
        --table-selection-border-color: #66aa66;
        --table-drag-handle-background-active: #11a058;
        --table-drag-handle-color: #b80751;
        --table-drag-handle-color-active: #e6b800;
        --table-add-button-border-color: #9292d1;
        --tab-background-active: #ffffff;
        --tab-text-color: #6e5e8c;
        --tab-text-color-active: #007799;
        --tab-text-color-focused: #a64ca6;
        --tab-text-color-focused-active: #00aacc;
        --tab-text-color-focused-highlighted: #a61f7c;
        --tab-text-color-focused-active-current: #00abab;
        --tab-container-background: #f2f2f9;
        --tab-divider-color: #4494c3;
        --tab-outline-color: #9966cc;
        --nav-item-color: #242424;
        --nav-item-color-hover: #000000;
        --nav-item-color-active: #000000;
        --nav-item-background-hover: #f0e6ff;
        --nav-item-background-active: #dbbbdb;
        --nav-indentation-guide-color: #bb66aa;
        --nav-collapse-icon-color: #009999;
        --icon-color: #aa2266;
        --icon-color-hover: #00aabb;
        --icon-color-focused: #00aa33;
        --graph-node: #ff2a6d;
        --graph-line: #00bbbb;
        --graph-node-unresolved: #e6b800;
        --graph-node-focused: #ff00ff;
        --graph-node-tag: #00bbbb;
        --graph-node-attachment: #00aa66;
        --prompt-border-color: #00cccc;
        --modal-border-color: #ff2a6d;
        --slider-thumb-border-color: #993399;
        --slider-track-background: #00aacc;
        --tag-background-hover: #eeeeee;
        --search-clear-button-color: #28b758;
        --metadata-label-text-color: #1a1a1a;
        --metadata-property-background: #f7f7f7;
        --indentation-guide-color: #99bbbb;
        --indentation-guide-color-active: #55aa88;




    /*Typography*/
    --font-text-size: 18px;
    --font-smallest: 0.65em;
    --font-smaller: 0.8em;
    --font-small: 0.933em;
    --font-weight: 200;
    --bold-modifier: 400;
    --bold-weight: 400;
    --line-height-normal: 1.61;
    --line-height-tight: 1.4;
    --font-ui-smaller: 13px;
    --font-ui-small: 14px;
    --font-ui-medium: 16px;
    --font-ui-larger: 18px;


    /* Headers */
    --inline-title-line-height: 1.61;
    --inline-title-size: 2.2em;
    --inline-title-weight: 300;
    --h1-size: 1.9em;
    --h2-size: 1.75em;
    --h3-size: 1.61em;
    --h4-size: 1.45em;
    --h5-size: 1.33em;
    --h6-size: 1.23em;
    --h1-weight: 200;
    --h2-weight: 200;
    --h3-weight: 200;
    --h4-weight: 200;
    --h5-weight: 200;
    --h6-weight: 200;
    --file-header-font-size: 0.8rem;
    --file-header-font-weight: 100;
    --file-header-border: none;
    --file-header-justify: center;

    /* Other */
    --file-line-width: 75em;
    --file-folding-offset: 24px;
    --hr-thickness: 1px;
    --border-width: 1px;
    --tag-radius: 0;
    --button-radius: 0;

    /* Links */
    --link-unresolved-opacity: 0.9;
    --link-decoration-thickness: 1px;
    --link-decoration: none;
    --link-external-decoration: underline;
    --link-external-decoration-hover: underline;

    /* Lists */
    --list-indent: 2.8em;
    --list-indent-editing: 1em;
    --list-indent-source: 1em;
    --list-spacing: 0.12em;
    --list-bullet-size: 0.31em;

    /* Blockquote */
    --blockquote-border-thickness: 4px;

    /* Code */
    --code-size: 0.8em;
    --code-radius: 12px;

    /* Checkbox */
    --checkbox-radius: 25%;
    --checkbox-size: 1.2em;
    --checkbox-margin-inline-start: 0;
    --checklist-done-decoration: none;

    /* Tables */
    --table-white-space: break-spaces;
    --table-text-color: inherit;
    --table-background: transparent;
    --table-drag-handle-background: transparent;
    --table-add-button-background: transparent;
    --table-selection: hsla(var(--color-accent-hsl), 0.05);
    --table-selection-blend-mode: var(--highlight-mix-blend-mode);
    --table-border-width: 1px;
    --table-header-border-width: 1px;
    --table-header-font: inherit;
    --table-header-size: 0.8em;
    --table-text-size: 0.8em;
    --table-column-min-width: 3ch;
    --table-column-max-width: none;
    --table-column-first-border-width: 1px;
    --table-column-last-border-width: 1px;
    --table-row-last-border-width: 1px;
    --table-add-button-border-width: 2px;
    --table-selection-border-width: 2px;
    --table-selection-border-radius: 4px;
    --table-cell-vertical-alignment: top;
    --table-header-weight: calc(var(--font-weight) + var(--bold-modifier));
    --table-line-height: var(--line-height-tight);

    /* Tabs */

    --tab-font-size: 0.85em;
    --tab-curve: 0;
    --tab-radius: 0;
    --tab-radius-active: 0;
    --tab-max-width: 15em;

    /* Metadata */
    --metadata-label-width: 8.5em;
    --metadata-divider-width: 0;
    --metadata-gap: 1px;
    --metadata-property-radius: 0;
    --metadata-property-radius-hover: 0;
    --metadata-property-radius-focus: 0px;
    --metadata-property-background-hover: transparent;
    --metadata-label-font-size: 0.8em;
    --metadata-input-font-size: 0.8em;
    --metadata-sidebar-label-font-size: 0.8em;
    --metadata-sidebar-input-font-size: 0.8em;

    /* UI Icons */
    --icon-opacity: 1;
    --icon-opacity-hover: 1;
    --icon-opacity-active: 1;
    --clickable-icon-radius: 0;

    /* Swatch */
    --swatch-radius: 14px;
    --swatch-height: 24px;
    --swatch-width: 24px;
    --swatch-shadow: inset 0 0 0 2px #000001;

    /* Indentation */
    --indentation-guide-width: 1px;
    --indentation-guide-width-active: 2px;
    --indentation-guide-editing-indent: 1.1em;
    --indentation-guide-reading-indent: -0.85em;
    --indentation-guide-source-indent: 0.85em;

    /* Navigation */
    --nav-item-white-space: pre;
    --nav-indentation-guide-width: 1px;

    /* Popover (Hover Links) */
    --popover-width: 800px;
    --popover-height: 600px;
    --popover-max-height: 100vh;
    --popover-pdf-width: 700px;
    --popover-pdf-height: 700px;

    /* Prompt (Command Palette) */
    --prompt-input-height: 40px;
    --prompt-width: 1000px;
    --prompt-border-width: 2px;

    /* Modal */
    --modal-width: 90vw;
    --modal-height: 85vh;
    --modal-max-width: 1000px;
    --modal-radius: 0px;
    --modal-border-width: 2px;
    --modal-community-sidebar-width: 290px;

    /* Slider */
    --slider-thumb-border-width: 3px;
    --slider-thumb-height: 14px;
    --slider-thumb-width: 14px;
    --slider-thumb-y: -5px;
    --slider-thumb-radius: 50%;
    --slider-s-thumb-size: 18px;
    --slider-s-thumb-position: -5px;
    --slider-track-height: 3px;

    /* Dialog */
    --dialog-width: 560px;
    --dialog-max-width: 80vw;
    --dialog-max-height: 85vh;
    --drag-ghost-background: rgba(0, 0, 0, 0.85);
    --drag-ghost-text-color: #fff;
}

